* {margin: 0;padding: 0;}

#nav-ul {
   display: flex;
   background-color: rgb(21, 20, 20);
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 8px;
   position: sticky;
}

#nav-ul-li {
   list-style: none;
   display: flex;
   padding: 10px;
   color:rgb(20, 26, 139)
}

.navl {
   text-decoration: none;
   list-style-type: none;
   margin: 10px 30px 15px 30px;
   font-size: 25px;
   font-style: oblique;
   color: white
}

.active {
   color: rgb(240, 65, 17);
}
